<p-carousel
  [value]="tabs"
  [numVisible]="3"
  [numScroll]="3"
  [responsiveOptions]="responsiveOptions"
  [showIndicators]="false"
  [circular]="false"
  class="my-4"
>
  <ng-template pTemplate="item" let-tab>
    <button
      (click)="setActiveTab(tab)"
      [ngClass]="{
        'bg-[#ff4500] text-white border-[#ff4500]':
          tab.id == activeTab || tab.name == defaultActiveTab,
        'text-p-text bg-transparent': tab.id !== activeTab && tab.name != defaultActiveTab
      }"
      class="px-4 py-2 rounded-3xl font-bold capitalize transition-colors text-xl sm:text-base cursor-pointer"
    >
      {{ tab.name }}
    </button>
  </ng-template>
</p-carousel>
