.image
{
    background-image: url('/images/418cb3d22952473ef67f8b1f550941935220e8e6.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.font
{
     font-family: "Baloo Thambi 2", system-ui;
 
     
}