 
<div class="relative mb-2">

  <!-- Icon -->
  <i [class]="icon + ' text-primary absolute left-4 top-1/2 -translate-y-1/2 text-lg'"></i>
  <i (click)="togglePassword()" [class]="passIcon + ' text-primary absolute right-4 top-1/2 -translate-y-1/2 text-lg cursor-pointer'"></i>
  <!-- Input -->
  <label [attr.for]="id" class="sr-only">{{label}}</label>
  <input
  [value]="value"
   (input)="handleInput($event)"
   (blur)="onTouched()"
     [id]="id"
    [type]="type"
     class="w-full bg-site text-primary border border-primary  pl-12 pr-4 py-3 rounded-xl
           focus:border-secondary focus:ring-0  "
    [placeholder]="placeholder"
  />

    
</div>
