

<auth-wrapper>
  <app-form-layout class="w-1/2" [formGroup]="forgetPassword"  [subtitle]="'Forget Password'" [formsubtitle]="'Enter Your Email'"    >

        <custom-input formControlName="email" [label]="'Email'" [type]="'email'" [placeholder]="'Enter your Email'" [icon]="'pi pi-envelope'"  inputs ></custom-input>
 
       <custom-button [label]="'Send OTP'" [disabled]="!forgetPassword.get('email')?.valid" (onClick)="OnSubmit()" [isloading]="isloading"  submit></custom-button>
 
  </app-form-layout>
</auth-wrapper>