<div class="bg-[#ff4500] flex justify-center items-center w-full  py-6">

  <owl-carousel-o [options]="customOptions" class="w-full max-w-8xl">

    <ng-template carouselSlide>
      <h1 class="text-white  uppercase font-bold text-[25PX] px-4">
     <i class="fa-solid fa-star"></i>   outdoor & online trainers <i class="fa-solid fa-star"></i>
      </h1>
    </ng-template>

    <ng-template carouselSlide>
      <h1 class="text-white  uppercase font-bold text-[25PX] px-4">
      <i class="fa-solid fa-star"></i>  personal training <i class="fa-solid fa-star"></i>
      </h1>
    </ng-template>

    <ng-template carouselSlide>
      <h1 class="text-white uppercase font-bold text-[25PX] px-4">
      <i class="fa-solid fa-star"></i>  live classes <i class="fa-solid fa-star"></i>
      </h1>
    </ng-template>
    <ng-template carouselSlide>
      <h1 class="text-white uppercase font-bold text-[25PX] px-4">
      <i class="fa-solid fa-star"></i>  personal training <i class="fa-solid fa-star"></i>
      </h1>
    </ng-template>

  </owl-carousel-o>

</div>
