<nav class="fixed w-full bg-[#FFFFFF99] z-20 top-0 start-0 shadow-md">
  <div class="max-w-screen-xl mx-auto flex items-center justify-between p-4">

  
    <a  class="flex items-center space-x-2 rtl:space-x-reverse">
      <img src="/images/fit 1.png" class="h-10" alt="Logo" />
    </a>

   
    <button type="button"
      class="inline-flex items-center justify-center p-2 w-12 h-12 rounded-full md:hidden bg-white/70 hover:bg-white/90 shadow"
      (click)="toggleMobileMenu()">
      <svg class="w-6 h-6 text-[#e63e00]" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-width="2" stroke-linecap="round"
          d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>


   <div class="hidden md:flex items-center justify-between w-full">
  <ul class="flex mx-auto space-x-20 rtl:space-x-reverse font-semibold">
    <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="font-bold text-white">Home</a></li>
    <li><a class="font-bold text-white" routerLink="about" routerLinkActive="active-link" >About</a></li>
    <li><a class="font-bold text-white" routerLink="classes" routerLinkActive="active-link" >Classes</a></li>
    <li><a class="font-bold text-white" routerLink="healthy" routerLinkActive="active-link" >Healthy</a></li>
  </ul>

  <div class="flex items-center gap-10">
    <app-button type="login" text="LOG IN"></app-button>
    <app-button type="signup" text="SIGN UP"></app-button>
  </div>
</div>

  </div>

  
  <div [class.hidden]="!mobileMenuOpen"
       class="md:hidden p-6 space-y-4 border-t bg-white/95 shadow-lg rounded-b-xl">
    <a class="block text-lg font-semibold hover:text-[#e63e00]">Home</a>
    <a class="block text-lg font-semibold hover:text-[#e63e00]">About</a>
    <a class="block text-lg font-semibold hover:text-[#e63e00]">Classes</a>
    <a class="block text-lg font-semibold hover:text-[#e63e00]">Healthy</a>

    <div class="pt-4 flex flex-col gap-3">
      <app-button type="login" text="LOG IN"></app-button>
      <app-button type="signup" text="SIGN UP"></app-button>
    </div>
  </div>
</nav>
