<auth-wrapper>
    
  <app-form-layout class="w-1/2" [formGroup]="resetPassword"  [subtitle]="'Create New Password'" [formsubtitle]="'make sure its 8 characters or more'"  >
 
    <custom-input formControlName="email" [label]="'Email'" [type]="'email'" [placeholder]="'Email'" [icon]="'pi pi-envelope'"  inputs ></custom-input>

    <custom-input formControlName="newPassword" [label]="'newPassword'" [type]="'password'" [placeholder]="'New Password'" [icon]="'pi pi-lock'" [passIcon]="'pi pi-eye'" inputs ></custom-input>

    <custom-button [label]="'Done'" [disabled]="resetPassword.invalid" (onClick)="OnSubmit()" [isloading]="isloading"  submit></custom-button>
       
  </app-form-layout>
</auth-wrapper>