<footer class="bg-white py-20">
  <div class="container mx-auto grid grid-cols-4 gap-15">

   
    <div class="space-y-4">
      <img src="/images/fit 1.png" alt="Logo" class="h-12">
      <p>Push harder, go further.</p>
      <p>Your fitness journey starts today!</p>
    </div>

  
    <div class="space-y-4">
      <h2 class="text-xl font-bold mb-2">Contact Us</h2>

      <div class="flex items-center gap-3">
        <div class="border rounded-full h-8 w-8 flex items-center justify-center text-[#e63e00]">
          <i class="fa-solid fa-phone"></i>
        </div>
        <p>+91 123 456 789</p>
      </div>

      <div class="flex items-center gap-3">
        <div class="border rounded-full h-8 w-8 flex items-center justify-center text-[#e63e00]">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <p>info@gmail.com</p>
      </div>
    </div>

  
    <div class="space-y-4">
      <h2 class="text-xl font-bold mb-2">Our Gym Timing</h2>
      <p>Mon - Fri : 08:00 AM - 10:00 PM</p>
      <p>Sat - Sun : 08:00 AM - 09:00 PM</p>
    </div>

   
    <div class="space-y-4">
      <h2 class="text-xl font-bold mb-2">Our Location</h2>
      <p>2715 Ash Dr. San Jose, South</p>
      <p>Dakota 83475</p>
    </div>

  </div>
</footer>
