<div class="w-full py-30 px-6 lg:px-24">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-20 items-start">

  <div class="grid grid-cols-2 gap-3 mb-12">

    
      <div class="flex flex-col gap-6">
        <img src="/images/Images2.png"
             class="rounded-2xl w-full h-[500px] object-cover relative z-0" />
      </div>

     
      <div class="relative flex flex-col gap-6">

       
        <img src="/images/images3.png"
             class="rounded-2xl w-[222px] h-[188.0399932861328px] object-cover" />

       
        <img src="/images/images4.png"
             class="rounded-2xl w-[700px] h-[450px] object-cover 
                    relative -left-13 md:-bottom-0 z-10 shadow-xl" />
      </div>

    </div>
    
    <div>

     
      <div class="flex flex-col items-start gap-2 mb-4">

  
  <img src="/images/About us.png" alt="" class="w-auto h-auto">

  
  <div class="flex items-center gap-2">
    <i class="fa-solid fa-dumbbell text-[#ff4500] text-[25px]"></i>
    <span class=" font-semibold tracking-wide text-[#ff4500]">
      About Us
    </span>
  </div>

</div>

      <h1 class="text-[40px] font-bold leading-tight mb-4">


        EMPOWERING YOU TO ACHIEVE
        <span class="text-[#ff4500]"> YOUR FITNESS</span> GOALS
      </h1>

      <p class="text-gray-600 leading-relaxed mb-10">
      We believe fitness is more than just a workout—it's 
      a lifestyle. With top-of- the-line facilities, 
      certified trainers, and a supportive community,
       we're here to inspire and guide you every step
        of the way.
      </p>

     
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

       
        <div>
           <div class="flex items-center gap-5">
           <i class="fa-solid fa-up-right-from-square"></i>
          <h1 class="font-bold text-[17px]">Personal Trainer</h1>

        </div>
        <p class="mt-5">Achieve your fitness goals with the 
          guidance of our certified trainers.
        </p>
        </div>


         <div>
           <div class="flex items-center gap-5">
           <i class="fa-solid fa-up-right-from-square"></i>
          <h1 class="font-bold text-[17px]">Cardio Programs</h1>

        </div>
        <p class="mt-5">From steady-state runs to interval  
         sprints, our treadmill programs.
        </p>
        </div>

      </div>

      
      <hr class="mt-7">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-9">

       
        <div>
           <div class="flex items-center gap-5">
           <i class="fa-solid fa-up-right-from-square"></i>
          <h1 class="font-bold text-[17px]">Quality Equipment</h1>

        </div>
        <p class="mt-5">Our gym is equipped with the 
          latest cardio & strength machines.
        </p>
        </div>


         <div>
           <div class="flex items-center gap-5">
           <i class="fa-solid fa-up-right-from-square"></i>
          <h1 class="font-bold text-[17px]">Healthy Nutritions</h1>

        </div>
        <p class="mt-5">Fuel your fitness journey with 
        customized meal plans for you.
        </p>
        </div>
       
        

      </div>

      
      
      
      

      <div class="flex justify-between items-center gap-15">

 
  <div class="flex flex-wrap gap-8 pt-6 justify-center md:justify-start relative">
    <button class="bg-[#ff4500] text-white px-10 py-3 rounded-full
      font-semibold hover:bg-[#e63e00] transition relative z-10">
      Get Started
    </button>
    <div class="absolute top-2 -right-7 transform translate-y-1/2 z-20">
      <div class="bg-[#ff4500] text-white p-2 rounded-full shadow-lg 
        flex items-center justify-center w-10 h-10">
        <i class="fa-solid fa-up-right-from-square"></i>
      </div>
    </div>
  </div>

<!-- ********* Chat ********* -->
  <div class="flex flex-col items-center md:items-start gap-2">
    
     <img class="w-30 h-30 " src="/images/emo.png" alt="emo">
    <button class="bg-[#e63e00] mb-20 text-white px-6 py-2 rounded-full">
     
      
      Hey Ask me
    </button>
  </div>

</div>


    </div>
    
    
    

  </div>
</div>

