 <section
  class="text-white min-h-screen py-10 flex items-center"
  style="
    background:
      radial-gradient(circle at 20% 60%, rgba(200,210,216,0.85) , transparent 20%),
      linear-gradient(90deg, rgba(200,210,216,0.85) 0%, rgba(220,224,226,0.7) 40%, rgba(200,210,216,0.85) 100%);
  "
>
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 items-center px-6 md:px-12 py-12 md:py-20 gap-8">

   
    <div class="flex flex-col items-start justify-center text-center md:text-left space-y-6">

      <h1 class="text-4xl md:text-5xl mt-4 font-extrabold text-[#242424] uppercase">
        Your Body Can
        <span class="text-[#ff4500] mt-2 "> Stand Almost </span>
       
        Anything
      </h1>

      <p class=" text-[#242424] max-w-md mt-6">
        It's your mind that needs convincing. Push past your limits, stay
        committed, and watch as your body transform into a powerhouse of
        strength and resilience. Start your journey today & truly become
        capable of more!
      </p>

     
      <div class="flex flex-wrap gap-25 mt-6 pt-4 justify-center md:justify-start">
        <div class="flex flex-col items-center md:items-start">
          <h2 class="text-2xl font-bold text-[#242424]">1200+</h2>
          <p class="text-[#242424] text-sm">Active Members</p>
        </div>
        <div class="flex flex-col items-center md:items-start">
          <h2 class="text-2xl font-bold text-[#242424]">12+</h2>
          <p class="text-[#242424] text-sm">Certified Trainers</p>
        </div>
        <div class="flex flex-col items-center md:items-start">
          <h2 class="text-2xl font-bold text-[#242424]">20+</h2>
          <p class="text-[#242424] text-sm">Years of Experience</p>
        </div>
      </div>

 
     <div class="flex justify-center gap-15 items-center">

  <app-button type="login" text="Get Started"></app-button>
  <app-button type="signup" text="Explore More"></app-button>

</div>


    </div>

   
   <div class="relative flex flex-col items-center md:items-end">

  <img
    src="/images/Theo Vance.png"
    alt="Hero"
    class="object-contain w-[280px] md:w-[400px] rounded-2xl"
  />

 
  <app-chat></app-chat>

</div>


  </div>
</section>




<app-slider></app-slider>

<app-about></app-about>

<app-workouts></app-workouts>


<app-whyus></app-whyus>

<app-homehealthy></app-homehealthy>


<app-slider></app-slider>

