<div class="w-full py-20 px-6 lg:px-24">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-20 items-start">

   
    <div>

     
  <div class="flex flex-col items-start gap-2 mb-4">

  
  <img src="/images/Why us.png" alt="" class="w-auto h-auto">

  
  <div class="flex items-center gap-2">
    <i class="fa-solid fa-dumbbell text-[#ff4500] text-[20px]"></i>
    <span class=" font-semibold tracking-wide text-[#ff4500]">
      About Us
    </span>
  </div>

</div>


      <h1 class="text-[40px] font-bold leading-tight mb-4">
        EMPOWERING YOU TO ACHIEVE
        <span class="text-[#ff4500]"> YOUR FITNESS</span> GOALS
      </h1>

      <p class="text-gray-600 leading-relaxed mb-10">
        We offer a fitness journey that’s tailored to your goals, supported by professional 
        trainers and a welcoming community. Whether it's weight loss, strength building, 
        or overall wellness, our proven methods help you transform.
      </p>

   
     <div class="relative">

 
  <div class="absolute left-7 top-0 bottom-0 w-[2px] border-l-2 border-dashed border-[#ff4500]"></div>


  <div class="flex items-start gap-6 mb-12">
    <div class="relative z-10 w-14 h-14 rounded-full bg-[#ff4500] text-white flex items-center justify-center font-bold text-xl">
      01
    </div>

    <div>
      <h3 class="font-semibold text-lg">Personalized Fitness Plans</h3>
      <p class="text-gray-600">
        We tailor every workout to fit your unique goals.
      </p>
    </div>
  </div>


  <div class="flex items-start gap-6 mb-12">
    <div class="relative z-10 w-14 h-14 rounded-full bg-[#ff4500] text-white flex items-center justify-center font-bold text-xl">
      02
    </div>

    <div>
      <h3 class="font-semibold text-lg">Results-Driven Focus</h3>
      <p class="text-gray-600">
        Everything is built to achieve measurable results.
      </p>
    </div>
  </div>

 
  <div class="flex items-start gap-6">
    <div class="relative z-10 w-14 h-14 rounded-full bg-[#ff4500] text-white flex items-center justify-center font-bold text-xl">
      03
    </div>

    <div>
      <h3 class="font-semibold text-lg">Modern Equipment</h3>
      <p class="text-gray-600">
        Latest and advanced gym machines.
      </p>
    </div>
  </div>

</div>

    </div>

   
    <div class="grid grid-cols-2 gap-6 mb-12">

      <div class="flex flex-col gap-6">
        <img src="/images/Figure [image-anime].png"
             class="rounded-2xl w-full h-[360px] object-cover" />

        <img src="/images/Figure [image-anime] (2).png"
             class="rounded-2xl w-full h-[360px] object-cover" />
      </div>


      <div class="flex flex-col gap-6">
        <img src="/images/Figure [image-anime] (1).png"
             class="rounded-2xl w-full h-[300px] object-cover" />

        <img src="/images/Figure [image-anime] (3).png"
             class="rounded-2xl w-full h-[300px] object-cover" />
      </div>

    </div>


    <div>


  </div>
</div>
