<div class="min-h-screen w-full px-6 pt-30 text-primary bg-site backdrop-blur-[60px]">

   
  <div class="grid grid-cols-2 md:grid-cols-3 md:max-w-4xl mx-auto gap-6 mb-10">

    <!-- Goal -->
    <app-settings-metric [title]="'Your Goal'" [value]="0" (onValueChange)="metric($event)"></app-settings-metric>
     <!-- Level -->
    <app-settings-metric [title]="'Your Level'" [value]="0" (onValueChange)="metric($event)"></app-settings-metric>

    <!-- Weight -->
    <app-settings-metric [title]="'Your Weight'" [value]="0" (onValueChange)="metric($event)"></app-settings-metric>
  </div>
  <!-- Settings Grid -->
  <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 md:w-3xl mx-auto gap-6">

    <app-settings-item [title]="'Change Password'" [icon]="'pi pi-refresh'" (onValueChange)="item($event)"></app-settings-item>
    <app-settings-item [title]="'Select Language'" [icon]="'pi pi-globe'" (onValueChange)="item($event)"></app-settings-item>
    <app-settings-item [title]="'Mood'" [icon]="'pi pi-moon'" (onValueChange)="item($event)"></app-settings-item>
    <app-settings-item [title]="'Security'" [icon]="'pi pi-shield'" (onValueChange)="item($event)"></app-settings-item>
    <app-settings-item [title]="'Privacy Policy'" [icon]="'pi pi-lock'" (onValueChange)="item($event)"></app-settings-item>
    <app-settings-item [title]="'Help'" [icon]="'pi pi-question-circle'" (onValueChange)="item($event)"></app-settings-item>
    
     
  </div>

  <!-- Logout -->
  <div class="glass-card mt-8 cursor-pointer max-w-[200px] mx-auto ">
    <i class="pi pi-sign-out text-secondary text-2xl mb-3"></i>
    <p class="text-center text-lg text-secondary">Logout</p>
  </div>
</div>
