@import "tailwindcss";

:root {
  /* Light Mode */
  --color-site: #24242499;
  --color-primary: #ffffff;
  --color-secondary: #ff4100;
  --color-hover:#ff0000
  --color-disabled: #D3D3D3;
  
 }

.dark {
  /* Dark Mode */
 --color-site:#242424;
    --color-primary: #ffffff;
    --color-secondary: #ff4100;
    --color-x:#ff6a00;
    --color-disabled: #D3D3D3;

 
}

@theme {
  --color-site: var(--color-site);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-hover: var(--color-hover);
  --color-disabled: var(--color-disabled);  
}
