@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


.owl-nav button {
  @apply bg-[#ff4500] text-white rounded-full w-10 h-10 flex items-center justify-center;
}

.owl-nav {
  @apply flex items-center gap-4;
}


.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.owl-nav button {
  pointer-events: all;
  background: #ff4500 !important;
  color: white !important;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.active-link {
  @apply text-[#e63e00] font-bold;
}



// @font-face {
//   font-family: "Baloo";
//   src: url("/assets/fonts/BalooThambi2-Regular.ttf");
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Baloo";
//   src: url("/assets/fonts/BalooThambi2-Bold.ttf");
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Inter";
//   src: url("/assets/fonts/Inter-Regular.ttf");
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Inter";
//   src: url("/assets/fonts/Inter-SemiBold.ttf");
//   font-weight: 600;
//   font-style: normal;
// }

body{
  font-family: "Baloo Thambi 2", system-ui;
}

// @font-face {
//   font-family: "Rubik";
//   src: url("/assets/fonts/Rubik-Regular.ttf");
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Rubik";
//   src: url("/assets/fonts/Rubik-Bold.ttf");
//   font-weight: 700;
//   font-style: normal;
// }
