@import "tailwindcss";
 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
 
:root {
  /* Light Mode */
  --color-site: #24242499;
  --color-primary: #ffffff;
  --color-secondary: #ff4100;
  --color-hover:#ff0000
  --color-disabled: #D3D3D3;
  
 }

.dark {
  /* Dark Mode */
 --color-site:#242424;
    --color-primary: #ffffff;
    --color-secondary: #ff4100;
    --color-x:#ff6a00;
    --color-disabled: #D3D3D3;

 
}

@theme {
  --color-site: var(--color-site);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-hover: var(--color-hover);
  --color-disabled: var(--color-disabled);  
}

@layer utilities {
  .icon-btn {
    @apply cursor-pointer w-12 h-12 rounded-full bg-site border border-primary
           flex items-center justify-center text-primary
           hover:bg-secondary hover:border-secondary transition-all;
  }
.glass-card {
  @apply flex flex-col items-center justify-center bg-site border border-primary
         rounded-2xl py-8 px-4 backdrop-blur-xl shadow-lg transition  hover:border-secondary cursor-pointer;
}

}

/* Utilities */

// .bg-site {
//   background-color: var(--bg-site);
// }
// .text-primary {
//   color: var(--text-primary);
// }
// .text-secondary {
//   color: var(--text-secondary);
// }
// .br-primary {
//   border-color: var(--text-primary);
// }
// .br-secondary {
//   border-color: var(--text-secondary);
// }
// .br-focus {
//   border-color: var(--text-secondary);
// }



.owl-nav button {
  @apply bg-[#ff4500] text-white rounded-full w-10 h-10 flex items-center justify-center;
}

.owl-nav {
  @apply flex items-center gap-4;
}


.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.owl-nav button {
  pointer-events: all;
  background: #ff4500 !important;
  color: white !important;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.active-link {
  @apply text-[#e63e00] font-bold;
}



// @font-face {
//   font-family: "Baloo";
//   src: url("/assets/fonts/BalooThambi2-Regular.ttf");
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Baloo";
//   src: url("/assets/fonts/BalooThambi2-Bold.ttf");
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Inter";
//   src: url("/assets/fonts/Inter-Regular.ttf");
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Inter";
//   src: url("/assets/fonts/Inter-SemiBold.ttf");
//   font-weight: 600;
//   font-style: normal;
// }

body{
  font-family: "Baloo Thambi 2", system-ui;
}

// @font-face {
//   font-family: "Rubik";
//   src: url("/assets/fonts/Rubik-Regular.ttf");
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Rubik";
//   src: url("/assets/fonts/Rubik-Bold.ttf");
//   font-weight: 700;
//   font-style: normal;
// }
